<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9bad6f">  <td>17/04/24 23:22:25</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;ExtentClass.beforeTest()[pri:0, instance:testSuite.TestCase_Login@3c09711b]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1828757853</td>   <td></td> </tr>
<tr bgcolor="f77393">  <td>17/04/24 23:22:39</td>   <td>14775</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestCase_Login.login_withValid()[pri:1, instance:testSuite.TestCase_Login@3c09711b]">login_withValid</td> 
  <td>main@1828757853</td>   <td></td> </tr>
</table>
